<div class="content">
    <h1 class="decoration text-center conts"><span class="nobacgr">Hâte de vous lire!</span></h1>
  
  <div class="contacts">
      <div class="bborder">
          <p><strong>Laissez nous un <span class="green">message</span></strong></p>
      </div>
      <form id="contact-us-form" class="row-fluid message" data-ajax="true">
          <div class="controls controls-row">
              <input class="inputp search-query span4" type="text" name="name" placeholder="Name*">
              <input class="inputp search-query span4" type="text" name="email" placeholder="Email*">
              <input class="inputp search-query span4" type="text" name="website" placeholder="Website*">
              <div class="clear"></div>
              <textarea id="redex" name="message" class="inputp search-query span12"  rows="5" placeholder="Project description"></textarea>
              <div class="clear"></div>
              <div class="tmargin20">
                  <button type="button" class="btn" name="submit" value="submit" id="contact_submit"><strong>Send Message</strong></button>
              </div>
              <div id="error_placeholder" class="form-message text-green"></div>
          </div>
      </form>
  </div>
  </div>