<div class="create_projects" style="width: 500px;">
    <div class="row-fluid">
        <div class="span3" style="align-content: center; width: inherit;">
            <h4 class="text-center"> <span class="green">Connexion</span></h4>
        </div>
        <!-- <div class="span3 bleft">
            <h4 class="text-center">Step 2: <span class="green">Project Summary</span></h4>
        </div>
        <div class="span3 bleft">
            <h4 class="text-center">Step 3: <span class="green">Project page</span></h4>
        </div>
        <div class="span3 bleft">
            <h4 class="text-center">Step 4: <span class="green">Project page</span></h4>
        </div> -->
    </div>
    <div class="row-fluid border_proj duration align-content" style ="align-content: center; margin:0%; width: inherit;">
         <div class="" style="margin: auto; width: 70%;align-content: center;">
            <div class="column_project" style="margin : 0%;">
                <!-- <h4 class="text-center">Personal Info:</h4> -->
                <form class="form-search align-content" style="text-align: center; margin : inherit ; align-content: center;" >
                    <input type="text" required formControlName="login" class="inputp search-query span12" placeholder="Email*" >
                    <input type="text" required formControlName="password" class="inputp search-query span12" placeholder="Mot de passe">
                    <!-- <input type="date" class="inputp search-query span12" placeholder="Date de naissance">
                    <input type="text" class="inputp search-query span12" placeholder="Profession*">
                    <input type="text" class="inputp search-query span12" placeholder="Contact*">
                    <input type="text" class="inputp search-query span12" placeholder="Adresse">
                    <input type="text" class="inputp search-query span12" placeholder="Email*">
                    
                     <input type="text" class="inputp search-query span12" placeholder="Username"> -->
                    <!-- <input type="text" class="inputp search-query span12" placeholder="Mot de passe*">
                    <input type="text" class="inputp search-query span12" placeholder="Confirmer le mot de passe*"> -->
                    <!-- <select class="">
                        <option>Location</option>
                        <option>Belarus</option>
                        <option>Armenia</option>
                        <option>England</option>
                        <option>China</option>
                    </select> -->
                    <!-- <input type="text" class="inputp search-query span12 face" style="padding-left: 30px;" placeholder="Account Name">
                    <input type="text" class="inputp search-query span12 tweet" style="padding-left: 30px;" placeholder="Account Name"> -->
                    
                </form>
            </div>
        </div> 
        <!-- <div class="span3">
            <div class="bleft column_project">
                <h4 class="text-center">Project Description:</h4>
                <form class="form-search">
                    <input type="text" class="inputp search-query span12" placeholder="Project Name">
                    <select class="">
                        <option>Category</option>
                        <option>Armenia</option>
                        <option>England</option>
                        <option>China</option>
                    </select>
                    <select class="">
                        <option>Location</option>
                        <option>Armenia</option>
                        <option>England</option>
                        <option>China</option>
                    </select>
                    <div class="upload_img inline">
                        <input type="file" name="upload"/>
                    </div>
                    <textarea id="redex2" class="inputp search-query span12" rows="9" placeholder="Short description"></textarea>
                    <input type="text" class="inputp search-query span12" placeholder="Payment Gateway">
                </form>
            </div>
        </div>
        <div class="span3">
            <div class="bleft column_project">
                <h4 class="text-center">Project Details:</h4>
                <form class="form-search">
                    <input type="text" class="inputp search-query span12" placeholder="Video URL">
                    <div class="upload_pic1 inline">
                        <input type="file" name="upload"/>
                    </div>
                    <div class="upload_pic2 inline">
                        <input type="file" name="upload"/>
                    </div>
                    <div class="upload_pic3 inline">
                        <input type="file" name="upload"/>
                    </div>
                    <input type="text" class="inputp search-query span12 face" style="padding-left: 30px;" placeholder="Account Name">
                    <input type="text" class="inputp search-query span12 tweet" style="padding-left: 30px;" placeholder="Account Name"> <textarea id="redex3" class="inputp search-query span12"  rows="5" placeholder="Project description"></textarea>
                    <div class="upload_html inline">
                        <input type="file" name="upload"/>
                    </div>
                </form>
            </div>
        </div> -->
        
    </div>
    <a href="" routerLink = "/home"> connecter</a>

    <div class="decoration text-center create_butt"><span class="nobacgr_whit"><button class="btn btn-large search-query" type="button"> <span class="butt_small"><strong>Se connecter</strong></span></button></span><a name="id_cont"></a></div>

</div>