<div class="container-fluid line contentt description_page">

    <div class="clear"></div>
    <div class="content description">
        <div class="row-fluid cols">
            <div class="left_content_descr span8">
                <h1 class="decoration text-center"><span class="nobacgr">{{inscription.projet.intitule}}</span></h1>
                <div class="video">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner content" style="width: 100%">

                            <div class="item active">
                                <div>
                                    <img src="{{inscription.projet.photos}}">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tabbable" style="margin-bottom: 18px;">
                    <div id="tabs_pages">
                        <ul class=" tabs_pages_ul row-fluid">
                            <li class="active span4"><a href="#tab1" data-toggle="tab">DESCRIPTION</a></li>

                        </ul>
                    </div>
                    <div class="tab-content" style="padding-bottom: 9px;">
                        <div class="tab-pane active" id="tab1">
                            <div id="description_content">
                                <div class="title_description_content">{{inscription.projet.intitule}}</div>
                                <div class="text_description_content"> {{inscription.projet.description}} </div>
                                <div class="text_description_content"></div>

                            </div>
                        </div>


                    </div>
                </div>


                <div class="clear"></div>
                <div id="author_review">
                    <h3 class="decoration text-center"><span class="nobacgr">Promotteur</span></h3>
                    <div id="face_social_text">
                        <div class="left_face_social_text span4">
                            <div class="face_big span9">
                                <div class="pix_author">
                                </div>
                            </div>
                            <div class="social_link_author" *ngIf="inscription.promoteur.compteFacebook">
                                <div class="social_bord"><a href="{{inscription.promoteur.compteFacebook}}"
                                        target=”_blank”>
                                        <img class="social_decc"
                                            src="https://cdn.jsdelivr.net/gh/daniwxcode/tpnatan@Dev/src/assets/img/description/facebook_author_icon.png"
                                            alt="">
                                    </a></div>
                                <div class="social_bord"><a href="{{inscription.promoteur.compteTwitter}}"
                                        target=”_blank”>
                                        <img class="social_decc"
                                            src="https://cdn.jsdelivr.net/gh/daniwxcode/tpnatan@Dev/src/assets/img/description/twitter_author_icon.png"
                                            alt="">
                                    </a></div>
                                <div class="social_bord_last"><a href="">
                                        <img class="social_decc"
                                            src="https://cdn.jsdelivr.net/gh/daniwxcode/tpnatan@Dev/src/assets/img/description/google_author_icon.png"
                                            alt="">
                                    </a></div>
                            </div>
                        </div>
                        <div class="right_face_social_text span8">
                            <div class="name_surname">{{inscription.promoteur.nom+" "+inscription.promoteur.prenoms}}
                            </div>
                            <div class="text_author_right">{{inscription.promoteur.email}}</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h4 class="decoration text-center"><span class="nobacgr">Poser une question</span></h4>
                <div id="asc_a_question">

                    <div class="reply_user main_reply">
                        <div class="row-fluid">
                            <div class="span2">
                                <div class="image_face">
                                    <img
                                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                                </div>
                            </div>
                            <div class="span10">
                                <div class="name_and_date"><span class="user_name">User</span> - April 10, 2020 at 7:34
                                    pm - <span class="reply_t">Répondre</span></div>
                                <div class="text_reply">gestion des messages à implenter.</div>

                            </div>
                        </div>
                    </div>

                    <div class="reply_user subreply">
                        <div class="row-fluid">
                            <div class="span2">
                                <div class="image_face">
                                    <img
                                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                                </div>
                            </div>
                            <div class="span10">
                                <div class="name_and_date"><span class="user_name">Admin</span> - April 10, 2020 at 7:34
                                    pm - <span class="reply_t">Répondre</span></div>
                                <div class="text_reply">A faire.</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="asc_a_question_form">
                    <h3 class="text-center asc_question_form_name">Posez une <span class="h3_quest">Question</span></h3>
                    <div class="form_question">
                        <div class="row-fluid">
                            <div class="controls controls-row message">
                                <input class="inputp search-query span4" type="text" placeholder="Name*">
                                <input class="inputp search-query span4" type="text" placeholder="Email*">
                                <input class="inputp search-query span4" type="text" placeholder="Website*">
                                <div class="clear"></div>
                                <textarea id="redex" class="inputp search-query span12" rows="5"
                                    placeholder="Project description"></textarea>
                                <div class="clear"></div>
                                <div class="tmargin20">
                                    <button type="submit" class="btn"><strong>Envoyer</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_descr span4">
                <div id="back_this_project_block">
                    <div class="backers_days_blocks first">
                        <div class="row-fluid">
                            <div class="span1" style="margin-right: 10px">
                                <div class="image_first"></div>
                            </div>
                            <div class="text_backers_days_blocks span10">
                                <div class="top_text_backers_days_blocks">{{inscription.participants.length+1}}</div>
                                <div class="bottom_text_backers_days_blocks">Participants</div>
                            </div>
                        </div>
                    </div>
                    <div class="backers_days_blocks">
                        <div class="row-fluid">
                            <div class="span1" style="margin-right: 10px">
                                <div class="image_second"></div>
                            </div>
                            <div class="text_backers_days_blocks span10">
                                <div class="top_text_backers_days_blocks">{{inscription.projet.estimation}}FCFA</div>
                                <div class="bottom_text_backers_days_blocks"></div>
                            </div>
                        </div>
                    </div>
                    <div class="backers_days_blocks">
                        <div class="row-fluid">
                            <div class="span1" style="margin-right: 10px">
                                <div class="image_third"></div>
                            </div>
                            <div class="text_backers_days_blocks span10">
                                <div class="top_text_backers_days_blocks">60</div>
                                <div class="bottom_text_backers_days_blocks">Durée</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back_this_project_button">
                    <button class="btn btn-large back_project" type="button">
                        <small>Rejoindre ce projet</small>
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>