<div class="content">
  <form class="form-search" [formGroup]="bookForm" (ngSubmit)="submitBook()" #resetBookForm="ngForm" novalidate>

    <h1 class="decoration text-center proj"><span class="nobacgr">Lancer un Projet</span></h1>
    <div class="create_projects">
      <div class="row-fluid">
        <div class="span4">
          <h4 class="text-center">Etape 1: <span class="green">Enregistrement</span></h4>
        </div>
        <div class="span4 bleft">
          <h4 class="text-center">Etape 2: <span class="green">Définition</span></h4>
        </div>
        <div class="span4 bleft">
          <h4 class="text-center">Etape 3: <span class="green">Présentation</span></h4>
        </div>

      </div>
      <div class="row-fluid border_proj duration">
        <div class="span4 ">
          <div class="column_project">
            <h4 class="text-center">Données Personnelles</h4>
            <input type="text" class="inputp search-query span12 validate" formControlName="nom" placeholder="Nom*"
              required>
            <input type="text" class="inputp search-query span12" formControlName="prenoms" placeholder="prénom(s)*"
              required>
            <input type="email" class="inputp search-query span12" formControlName="email" placeholder="Email*"
              required>
            <input type="password" class="inputp search-query span12" formControlName="password"
              placeholder="Mot de Passe*" required>
            <input type="password" class="inputp search-query span12" formControlName="confirm" placeholder="Confirmer"
              required>
            <input type="tel" class=" inputp search-query span12" formControlName="numerowhatsapp"
              style="padding-left: 30px;" placeholder="Numéro Whatsapp*" required>
          </div>
        </div>
        <div class="span4">
          <div class="bleft column_project">
            <h4 class="text-center">Project Description:</h4>
            <input type="text" class="inputp search-query span12" formControlName="video" placeholder="Video URL">
            <input type="text" formControlName="intitule" class="inputp search-query span12" placeholder="Intitule">
            <input type="number" class="inputp search-query span12" formControlName="estimation"
              placeholder="Etimation du coût">
            <textarea class="inputp search-query span12" rows="9" formControlName="resume"
              placeholder="Resumé"></textarea>
          </div>
        </div>
        <div class="span4">
          <div class="bleft column_project">
            <h4 class="text-center">Project Details:</h4>
          </div>
        </div>

      </div>


      <div class="decoration text-center create_butt">
        <span class="nobacgr_whit">
          <button class="btn btn-large search-query" type="submit">
            <span class="butt_small"><strong>Créer le Projet</strong>
            </span></button></span><a name="id_cont"></a></div>

    </div>
  </form>
</div>
